{% extends 'fish_app/base.html' %}

{% block css_link %}
    {% load static %}

{% endblock %}

{% block js_link %}
    {% load static %}
    <script type=text/javascript src="{% static 'js/libs/jquery341min.js' %}"></script>
{% endblock %}

{% block title %} Log IN {% endblock %}

{% block content_area %}
<form method="post" >
    {% csrf_token %}
    <p>login: <input type="text" name="login"/></p>
    <p>pass: <input type="password" name="pass"/></p>
    <p><input type="submit" value="Log IN" id="confirmLogInID" name="confirmLogin" /></p>
</form>
{% endblock %}
