.content-container {
display: grid;
grid-template-columns: 1fr 4fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.profile { grid-area: 1 / 1 / 2 / 2; }
.working_area { grid-area: 1 / 2 / 2 / 3; }
