.content-container {
    display: grid;
    grid-template-columns: 1fr 3.5fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.profile { grid-area: 1 / 1 / 2 / 4; }
.map_area { grid-area: 1 / 2 / 2 / 3; }
.filters { grid-area: 1 / 3 / 2 / 4; }

.ordersContent {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.orders_place_name { grid-area: 1 / 1 / 2 / 3; }
.orders_list  { grid-area: 2 / 1 / 3 / 2; }
.order_info {
    grid-area: 2 / 2 / 3 / 3;
    margin-left: 25px;
}
.orders_controls { grid-area: 3 / 1 / 4 / 3; }

.filters {
    margin-left: 25px;
}

.img_profile {
    width: 10%;
    height: auto;
}

.img_place {
    /* width: 150px; */
    height: 100px;
    width: auto;
    margin-right: 10px;
    /* cursor: pointer;
    max-width: 150px;
    z-index: 99; */
}

.active_caption {
    color: #8a0a21;
    cursor: pointer;
    font-weight: bold;
}

.formPopup, .message {
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none;
    padding:20px;
    min-width:40px;
    min-height: 20px;
}

.placeContent, .ordersContent {
    position: absolute;
    padding: 10px;
    float:right;
    display: none;
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    border: 1px solid gray;
}

.placeContent {
    z-index: 90;
    background-color: rgba(0, 120, 201, 0.4); /* Цвет фона и значение прозрачности */
}

.ordersContent {
    z-index: 92;
    background-color: rgba(26, 97, 45, 0.5); /* Цвет фона и значение прозрачности */
    margin: 2em;
}

.messageClass {
    text-decoration: underline;
}

.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}
