.img_place {
    /* width: 150px; */
    height: 100px;
    width: auto;
    margin-right: 10px;
    /* cursor: pointer;
    max-width: 150px;
    z-index: 99; */
}

.active_caption {
    color: #8a0a21;
    cursor: pointer;
    font-weight: bold;
}

.formPopup, .message {
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none;
    padding:20px;
    min-width:40px;
    min-height: 20px;
}

.modal.right.fade.show .modal-dialog {
    position: absolute;
    right: 20px;
    top: 25px;
}


.messageClass {
    text-decoration: underline;
}

.remove_button {
    cursor: pointer;
    position:absolute;
    right:10px;
    top:5px;
}
