.content-container {
    display: grid;
    grid-template-columns: 1fr 3.5fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.profile { grid-area: 1 / 1 / 2 / 4; }
.map_area { grid-area: 1 / 2 / 2 / 3; }
.filters { grid-area: 1 / 3 / 2 / 4; }

.filters {
    margin-left: 25px;
}

.img_resize {
    width: 10%;
    height: auto;
}

.formPopup, .message {
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none;
    padding:20px;
    min-width:40px;
    min-height: 20px;
}

.mapContent {
    position: absolute;
    float:right;
    display: none;
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    border: 1px solid gray;
    z-index: 100;
    background-color: rgba(0, 120, 201, 0.4); /* Цвет фона и значение прозрачности */

}

.messageClass {
    text-decoration: underline;
}

.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}
