{% extends 'fish_app/base.html' %}

{% block title %} Log IN {% endblock %}

{% block css_link %}
{% endblock %}

{% block js_link %}
{% endblock %}

{% block js_script %} {% endblock %}

{% block working_area %}
    <h1> Log In!!!!! </h1>

    <form  method="post" >                 <!--  action="{% url 'fish_app:login' %}" -->
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <<input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <input type="submit" value="Login">
    </form>

    <p><a href="{% url 'fish_app:registration' %}">Registration</a></p>
{% endblock %}
