<!doctype html>
<html lang="en">
    <head>
        <title> {% block title %} My fishing site {% endblock %} </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base_style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}">
        {% block css_link %} {% endblock %}

        <script type=text/javascript src="{% static 'js/libs/jquery-3.4.1.js' %}"></script>
        <script type=text/javascript src="{% static 'js/libs/lightbox.js' %}"></script>
        <script type=text/javascript src="{% static 'js/libs/bPopup.js' %}"></script>
        <script type=text/javascript src="{% static 'js/base.js' %}"></script>
        {% block js_link %} {% endblock %}

        <script type="text/javascript">
            currUserID = null;
            currPlaceID = null;
            currOrderID = null;
            myYandexMap = null;
            currProfile_json = "";

            $(document).ready(function() {

                currUserID = '{{ request.user.id }}';
                console.log('currUserID');
                console.log(currUserID);
                if (currUserID > 0) {

                    $('#profile_controlsID').show();
                    $('#login_formID').hide();
                    //reloadProfile();

                    lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                    });


                } else {
                    $('#profile_controlsID').hide();
                    $('#login_formID').show();
                }

                {% block document_ready_script %} {% endblock %}

            });
        </script>


    </head>
    <body>
        <div class="grid-container">
            <div class="header">
                <div class="links">
                    <a href="/">Карта</a> &nbsp;&nbsp;&nbsp;
                    Лента &nbsp;&nbsp;&nbsp;
                    Ихтиосправочник
                </div>


            </div>
            <div class="login_controls">
                    <div id="profile_controlsID">
                        <a href="/pdetail{{ request.user.id }}">Мой порфиль</a> <br>
                        <a href="/friends">Мои друзья</a> <br>
                        <a href="/messages">Мои сообщения</a> <br>
                        <a href="#">Мои отчеты</a> <br>
                        <a href="#">Мои рыбалки</a> <br>
                        <a href="#">Мои Трофеи</a> <br>
                        <a href="#">Мои объявления</a> <br> <br> <br>
                        <a href="{% url "fish_app:logout" %}">Выйти</a>
                    </div>


                <div id="login_formID" class="login_form">
                    <form action="{% url 'fish_app:login' %}" method="post" >
                        {% csrf_token %}
                        <label for="id_username">Имя пользователя:</label>
                        <input type="text" name="username" autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username"> <br>
                        <label for="id_password">Пароль:</label>
                        <input type="password" name="password" autocomplete="current-password" required id="id_password"> <br>
                        {% if request.GET.next %}
                            <<input type="hidden" name="next" value="{{ request.GET.next }}">
                        {% endif %}
                        <input type="submit" value="Login">
                    </form>
                </div>

            </div>
            <div class="working_area">
                {% block working_area %}
                {% endblock %}
            </div>
            <div class="footer"></div>
        </div>

        <div id="messageID" class="message">
            hello
        </div>

    </body>
</html>
