{% extends 'fish_app/base.html' %}

{% block title %} Chat #{{ chat.id }} {% endblock %}

{% block css_link %}
    {% load static %}

{% endblock %}

{% block js_link %}
    {% load static %}

{% endblock %}

{% block document_ready_script %}

{% endblock %}

{% block working_area %}
    {% for message in messages %}
        <!-- <a href="/pdetail{{ profile.user_id }}">{{ profile.first_name }}  {{ profile.last_name }}</a> <div class="active_caption"  id="add_to friends{{ profile.user_id }}ID" onclick="add_to_friends({{ profile.user_id }})">Добавить в друзья</div>       <br> -->
        #{{ chat.id }}_{{ message.datetime_sending }}_{{ message.user_send}}:{{ message.text }}   <br>
        <div class="">

        </div>
    {% endfor %}  <br>


{% endblock %}
