{% extends 'fish_app/base.html' %}

{% block title %} Friends {% endblock %}

{% block css_link %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/friends.css' %}">
{% endblock %}

{% block js_link %}
    {% load static %}
    <script type=text/javascript src="{% static 'js/friends.js' %}"></script>
{% endblock %}

{% block working_area %}

    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'London')">London</button>
      <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
      <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
    </div>

    <div id="London" class="tabcontent">
        <h3>London</h3>
        <p>London is the capital city of England.</p>
    </div>

    <div id="Paris" class="tabcontent">
        <h3>Paris</h3>
        <p>Paris is the capital of France.</p>
    </div>

    <div id="Tokyo" class="tabcontent">
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
    </div>


    <!-- <h4>Заявки в друзья:</h4>
        {% for profile in profiles_requesting_friendship %}
            <a href="/pdetail{{ profile.user_id }}">{{ profile.first_name }}  {{ profile.last_name }}</a> <div class="active_caption"  id="add_to friends{{ profile.user_id }}ID" onclick="add_to_friends({{ profile.user_id }})">Добавить в друзья</div>       <br>
        {% endfor %}  <br>

    <h4>Мои друзья:</h4>
    {% for profile in profiles_friends %}
        <a href="/pdetail{{ profile.user_id }}">{{ profile.first_name }}  {{ profile.last_name }}</a>  <br>
    {% endfor %}  <br> -->

{% endblock %}
