{% extends 'fish_app/base.html' %}

{% block title %} Index {% endblock %}

{% block css_link %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/workspace_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">

{% endblock %}

{% block js_link %}
    {% load static %}
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=18f62a6d-77ff-4bb8-8f46-3b6d164fdf4d&lang=ru_RU"></script>
    <script type=text/javascript src="{% static 'js/workspace.js' %}"></script>
{% endblock %}

{% block document_ready_script %}

    map = null;
    ymaps.ready(function () {
        map = new ymaps.Map('map', {
            center: [59.939095, 30.315961],
            zoom: 10,
            controls: []
        });
        map.events.add('click', function(e) {
            if (!map.balloon.isOpen()) {
                var coords = e.get('coords');
                map.balloon.open(coords, {
                    contentHeader: coords[0] + ' : ' + coords[1],
                    contentBody: '<button type="button" class="btn btn-primary" id="place_addID" onclick="openFormAddPlace(' + coords[0] + ', ' + coords[1] + ')" >Добавить место</button> <button type="button" class="btn btn-primary" id="order_addID" onclick="openFormAddOrder(' + coords[0] + ', ' + coords[1] + ')" >Добавить отчет</button>'
                });
            }
            else {
                map.balloon.close();
            }
        });

        filtersButton = new ymaps.control.Button({
                 data: {
                     content: 'Фильтра',
                     title: 'Фильтра'
                 },
                 options: {
                     selectOnClick: false,
                     maxWidth: [30, 100, 150]
                 }
        });

        filtersButton.events.add('click', function(e) {
            $('#filters_contentID').modal('show');
        });

        map.controls.add(filtersButton, { float: 'right', floatIndex: 100 });

        reloadPlaces();
    });




{% endblock %}

{% block working_area %}

    <div class="working_area-container">

        <div class="map_area">

            <div id="place_contentID" class="modal fade" >
                <div class="modal-dialog">
                    <div class="modal-content">
                    <!-- Заголовок модального окна -->
                        <div class="modal-header" >
                            <div id="place_name" class="modal-title"></div>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                            <!-- Основное содержимое модального окна -->
                        <div class="modal-body">
                            {% load static %}
                            <img src="{% static "images/delete.png" %}" alt="delete" id="RemovePlaceButtonID" class="remove_button" height="40" width="40" onclick="deletePlace();">
                            <div id="place_user">

                            </div>  <br>
                            <div id="place_isBame">
                                .
                            </div>  <br>
                            <div id="coord">
                                <div id="place_lant"></div>
                                <br>
                                <div id="place_long"></div>
                            </div>  <br>
                            <div id="place_photos">

                            </div>  <br>
                            <div id="place_decription">

                            </div>  <br>
                            <div id="place_bus_accessibility">

                            </div>  <br>
                            <div id="place_car_accessibility">

                            </div>  <br>
                        </div>
                            <!-- Футер модального окна -->
                        <div class="modal-footer">
                            <button type="button" onclick="show_orders();" class="btn btn-primary" >Отчеты</button>
                            <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="orders_contentID" class="modal fade" >
                <div class="modal-dialog">
                    <div class="modal-content">
                    <!-- Заголовок модального окна -->
                        <div class="modal-header" >
                            <div id="orders_place_nameID" class="modal-title"></div>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                            <!-- Основное содержимое модального окна -->
                        <div class="modal-body">
                            <div id="orders_listID" class="orders_list">
                                <select size="10" id="select_orders_listID" onchange="get_order_info();">
                                </select>
                                <div class="active_caption"  id="order_add" onclick="$('#formOrderAddID').bPopup()">Добавить отчет</div>

                            </div>
                            <div id="order_infoID" class="order_info">
                                <div id="order_userID">
                                    order_user
                                </div>  <br>
                                <div id="order_periodID">
                                    order_period
                                </div>  <br>
                                <div id="order_descriptionID">
                                    order_description
                                </div>  <br>
                                <div id="order_photosID">
                                    order_photos
                                </div>  <br>
                                <input type="button" id="RemoveOrderButtonID" value="Удалить отчет" onclick="deleteOrder()">
                            </div>
                        </div>
                            <!-- Футер модального окна -->
                        <div class="modal-footer">
                            <!-- <button type="button" onclick="show_orders();" class="btn btn-primary" data-dismiss="modal">Отчеты</button> -->
                            <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="filters_contentID" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
                <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
                    <div class="modal-content">
                    <!-- Заголовок модального окна -->
                        <div class="modal-header" >
                            <div class="modal-title">Фильтра</div>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                            <!-- Основное содержимое модального окна -->
                        <div class="modal-body">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="is_selfPlacesID">
                                <label class="form-check-label" for="is_selfPlacesID">Мои места</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="is_BaseID">
                                <label class="form-check-label" for="is_BaseID">Рыболовная база</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="is_carAccessibilityID">
                                <label class="form-check-label" for="is_carAccessibilityID">Доступ на машине</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="is_busAccessibilityID">
                                <label class="form-check-label" for="is_busAccessibilityID">Доступ на общественном</label>
                            </div>
                        </div>
                            <!-- Футер модального окна -->
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" onclick="set_places();updateFilters();" class="btn btn-primary" >Применить</button>
                            <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="map" style="margin:auto; width: 100%; height: 80vh; z-index: 50;"></div>
        </div>
    </div>



    <div id="formPlaceAddID" class="formPopup">
        <form id="PlaceAddID">
            {% csrf_token %}
            <div class="form-group">
                <label for="fPlaceAdd_nameID">Название места</label>
                <input type="text" class="form-control" id="fPlaceAdd_nameID" placeholder="Название места">
            </div>

            <div class="form-group">
                <label for="fPlaceAdd_lantID">Широта</label>
                <input type="text" class="form-control" id="fPlaceAdd_lantID" placeholder="Широта">
            </div>

            <div class="form-group">
                <label for="fPlaceAdd_longID">Долгота</label>
                <input type="text" class="form-control" id="fPlaceAdd_longID" placeholder="Долгота">
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="fPlaceAdd_isBaseID" >
                <label class="form-check-label" for="fPlaceAdd_isBaseID">Рыболовная база</label>
            </div>

            <div class="form-group">
                <label for="fPlaceAdd_descriptionID">Описание</label>
                <input type="text" class="form-control" id="fPlaceAdd_descriptionID" placeholder="Описание">
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="fPlaceAdd_busAccessabilityID">
                <label class="form-check-label" for="fPlaceAdd_busAccessabilityID">Доступ на общественном</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="fPlaceAdd_carAccessabilityID">
                <label class="form-check-label" for="fPlaceAdd_carAccessabilityID">Доступ на машине</label>
            </div>

            <p>Фото <input type="file"  class="btn btn-default" id="place_photosID" min="1" max="999" multiple="true"/></p>

            <input type="button" value="Добавить место" onclick="addPlace()" class="btn btn-primary"/>
            <input type="button" value="Отмена"  onclick="closeForm('place_add')" class="btn btn-dark"/>
        </form>
    </div>

    <div id="formOrderAddID" class="formPopup">
        <form id="OrderAddID">
            {% csrf_token %}
            <div class="form-group">
                <label for="fOrderAdd_lantID">Широта</label>
                <input type="text" class="form-control" id="fOrderAdd_lantID" placeholder="Широта">
            </div>

            <div class="form-group">
                <label for="fOrderAdd_longID">Долгота</label>
                <input type="text" class="form-control" id="fOrderAdd_longID" placeholder="Долгота">
            </div>

            <div class="form-group row">
                <label for="fOrderAdd_dateBeginID" class="col-5 col-form-label">Дата начала</label>
                <div class="col-7">
                    <input class="form-control" type="date" id="fOrderAdd_dateBeginID">
                </div>
            </div>

            <div class="form-group row">
                <label for="fOrderAdd_dateEndID" class="col-5 col-form-label">Дата окончания</label>
                <div class="col-7">
                    <input class="form-control" type="date" id="fOrderAdd_dateEndID">
                </div>
            </div>

            <div class="form-group">
                <label for="fOrderAdd_descriptionID">Описание</label>
                <input type="text" class="form-control" id="fOrderAdd_descriptionID" placeholder="Описание">
            </div>

            <p>Фото <input type="file"  class="btn btn-default" id="fOrderAdd_photosID" min="1" max="999" multiple="true"/></p>

            <input type="button" value="Добавить отчет" onclick="addOrder()" class="btn btn-primary"/>
            <input type="button" value="Отмена"  onclick="closeForm('order_add')" class="btn btn-dark"/>
        </form>
    </div>
{% endblock %}
