{% extends 'fish_app/base.html' %}

{% block title %} Index {% endblock %}

{% block css_link %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/workspace_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">
{% endblock %}

{% block js_link %}
    {% load static %}
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=18f62a6d-77ff-4bb8-8f46-3b6d164fdf4d&lang=ru_RU"></script>
    <script type=text/javascript src="{% static 'js/workspace.js' %}"></script>
{% endblock %}

{% block document_ready_script %}
    document.getElementById("hidenButtonID").style.display = "none";
    map = null;
    ymaps.ready(function () {
        map = new ymaps.Map('map', {
            center: [59.939095, 30.315961],
            zoom: 10,
            controls: []
        });
        map.events.add('click', function (e) {
            if (!map.balloon.isOpen()) {
                var coords = e.get('coords');
                map.balloon.open(coords, {
                    contentHeader: coords[0] + ' : ' + coords[1],
                    contentBody: '<button type="button" class="btn btn-primary" id="place_addID" onclick="openFormAddPlace(' + coords[0] + ', ' + coords[1] + ')" >Добавить место</button> <button type="button" class="btn btn-primary" id="order_addID" onclick="openFormAddOrder(' + coords[0] + ', ' + coords[1] + ')" >Добавить отчет</button>'

                });
            }
            else {
                map.balloon.close();
            }
        });
        reloadPlaces();
    });
{% endblock %}

{% block working_area %}

    <div class="working_area-container">

        <div class="map_area">

            <div id="place_contentID"  class="placeContent">
                {% load static %}
                <img src="{% static "images/delete.png" %}" alt="delete" id="RemovePlaceButtonID" class="remove_button" height="40" width="40" onclick="deletePlace()">
                <div id="place_name">

                </div>  <br>
                <div id="place_user">

                </div>  <br>
                <div id="place_isBame">
                    .
                </div>  <br>
                <div id="coord">
                    <div id="place_lant"></div>
                    <br>
                    <div id="place_long"></div>
                </div>  <br>
                <div id="place_photos">

                </div>  <br>
                <div id="place_decription">

                </div>  <br>
                <div id="place_bus_accessibility">

                </div>  <br>
                <div id="place_car_accessibility">

                </div>  <br>
                <div id="place_orders">
                    <div class="active_caption"  id="show_ordersID" onclick="show_orders()">Показать отчеты</div>
                </div> <br>

                <input type="button" value="Закрыть" onclick="hidePlaceContent()">
            </div>

            <button type="button" id="hidenButtonID" class="btn btn-primary" style: "display: none" data-toggle="modal" data-target="#modalPoll-1">Launch modal</button>

            <div class="modal fade right" id="modalPoll-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
              <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
                <div class="modal-content">
                  <!--Header-->
                  <div class="modal-header">
                    <p class="heading lead">Feedback request</p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="white-text">×</span>
                    </button>
                  </div>

                  <!--Body-->
                  <div class="modal-body">
                    <!-- <div class="text-center">
                      <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i>
                      <p>
                        <strong>Your opinion matters</strong>
                      </p>
                      <p>Have some ideas how to improve our product?
                        <strong>Give us your feedback.</strong>
                      </p>
                    </div> -->

                    <hr>



                    <!-- <p class="text-center">
                      <strong>What could we improve?</strong>
                    </p>
                    <!--Basic textarea-->
                    <!-- <div class="md-form">
                      <textarea type="text" id="form79textarea" class="md-textarea form-control" rows="3"></textarea>
                      <label for="form79textarea">Your message</label>
                    </div>  -->

                  </div>

                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-primary waves-effect waves-light">Send
                      <i class="fa fa-paper-plane ml-1"></i>
                    </a>
                    <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancel</a>
                  </div>
                </div>
              </div>
            </div>


            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPoll-1">Launch modal</button> -->

            <!-- Modal: modalPoll -->
            <div class="modal fade right" id="modalPoll-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
              <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
                <div class="modal-content">
                  <!--Header-->
                  <div class="modal-header">
                    <p class="heading lead">Feedback request
                    </p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="white-text">×</span>
                    </button>
                  </div>

                  <!--Body-->
                  <div class="modal-body">
                    <div class="text-center">
                      <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i>
                      <p>
                        <strong>Your opinion matters</strong>
                      </p>
                      <p>Have some ideas how to improve our product?
                        <strong>Give us your feedback.</strong>
                      </p>
                    </div>

                    <hr>

                    <!-- Radio -->
                    <p class="text-center">
                      <strong>Your rating</strong>
                    </p>
                    <div class="form-check mb-4">
                      <input class="form-check-input" name="group1" type="radio" id="radio-179" value="option1" checked>
                      <label class="form-check-label" for="radio-179">Very good</label>
                    </div>

                    <div class="form-check mb-4">
                      <input class="form-check-input" name="group1" type="radio" id="radio-279" value="option2">
                      <label class="form-check-label" for="radio-279">Good</label>
                    </div>

                    <div class="form-check mb-4">
                      <input class="form-check-input" name="group1" type="radio" id="radio-379" value="option3">
                      <label class="form-check-label" for="radio-379">Mediocre</label>
                    </div>
                    <div class="form-check mb-4">
                      <input class="form-check-input" name="group1" type="radio" id="radio-479" value="option4">
                      <label class="form-check-label" for="radio-479">Bad</label>
                    </div>
                    <div class="form-check mb-4">
                      <input class="form-check-input" name="group1" type="radio" id="radio-579" value="option5">
                      <label class="form-check-label" for="radio-579">Very bad</label>
                    </div>
                    <!-- Radio -->

                    <p class="text-center">
                      <strong>What could we improve?</strong>
                    </p>
                    <!--Basic textarea-->
                    <div class="md-form">
                      <textarea type="text" id="form79textarea" class="md-textarea form-control" rows="3"></textarea>
                      <label for="form79textarea">Your message</label>
                    </div>

                  </div>

                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-primary waves-effect waves-light">Send
                      <i class="fa fa-paper-plane ml-1"></i>
                    </a>
                    <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancel</a>
                  </div>
                </div>
              </div>
            </div>


            <div id="orders_contentID"  class="ordersContent">
                <div id="orders_place_nameID" class="orders_place_name">
                    ...Place Name...
                </div>
                <div id="orders_listID" class="orders_list">
                    <select size="10" id="select_orders_listID" onchange="get_order_info();">
                    </select>
                    <div class="active_caption"  id="order_add" onclick="$('#formOrderAddID').bPopup()">Добавить отчет</div>

                </div>
                <div id="order_infoID" class="order_info">
                    <div id="order_userID">
                        order_user
                    </div>  <br>
                    <div id="order_periodID">
                        order_period
                    </div>  <br>
                    <div id="order_descriptionID">
                        order_description
                    </div>  <br>
                    <div id="order_photosID">
                        order_photos
                    </div>  <br>
                    <input type="button" id="RemoveOrderButtonID" value="Удалить отчет" onclick="deleteOrder()">
                </div>
                <div class="orders_controls">

                    <input type="button" value="Закрыть" onclick="hideOrderContent()">

                </div>
            </div>
            <div id="map" style="margin:auto; width: 100%; height: 80vh; z-index: 50;"></div>
        </div>
    </div>



    <div id="formPlaceAddID" class="formPopup">
        <form id="PlaceAddID">
            {% csrf_token %}
            <div class="form-group">
                <label for="fPlaceAdd_nameID">Название места</label>
                <input type="text" class="form-control" id="fPlaceAdd_nameID" placeholder="Название места">
            </div>

            <div class="form-group">
                <label for="fPlaceAdd_lantID">Широта</label>
                <input type="text" class="form-control" id="fPlaceAdd_lantID" placeholder="Широта">
            </div>

            <div class="form-group">
                <label for="fPlaceAdd_longID">Долгота</label>
                <input type="text" class="form-control" id="fPlaceAdd_longID" placeholder="Долгота">
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="fPlaceAdd_isBaseID" >
                <label class="form-check-label" for="fPlaceAdd_isBaseID">Рыболовная база</label>
            </div>

            <div class="form-group">
                <label for="fPlaceAdd_descriptionID">Описание</label>
                <input type="text" class="form-control" id="fPlaceAdd_descriptionID" placeholder="Описание">
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="fPlaceAdd_busAccessabilityID">
                <label class="form-check-label" for="fPlaceAdd_busAccessabilityID">Доступ на общественном</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="fPlaceAdd_carAccessabilityID">
                <label class="form-check-label" for="fPlaceAdd_carAccessabilityID">Доступ на машине</label>
            </div>

            <p>Фото <input type="file"  class="btn btn-default" id="place_photosID" min="1" max="999" multiple="true"/></p>

            <input type="button" value="Добавить место" onclick="addPlace()" class="btn btn-primary"/>
            <input type="button" value="Отмена"  onclick="closeForm('place_add')" class="btn btn-dark"/>
        </form>
    </div>

    <div id="formOrderAddID" class="formPopup">
        <form id="OrderAddID">
            {% csrf_token %}
            <div class="form-group">
                <label for="fOrderAdd_lantID">Широта</label>
                <input type="text" class="form-control" id="fOrderAdd_lantID" placeholder="Широта">
            </div>

            <div class="form-group">
                <label for="fOrderAdd_longID">Долгота</label>
                <input type="text" class="form-control" id="fOrderAdd_longID" placeholder="Долгота">
            </div>

            <div class="form-group row">
                <label for="fOrderAdd_dateBeginID" class="col-5 col-form-label">Дата начала</label>
                <div class="col-7">
                    <input class="form-control" type="date" id="fOrderAdd_dateBeginID">
                </div>
            </div>

            <div class="form-group row">
                <label for="fOrderAdd_dateEndID" class="col-5 col-form-label">Дата окончания</label>
                <div class="col-7">
                    <input class="form-control" type="date" id="fOrderAdd_dateEndID">
                </div>
            </div>

            <div class="form-group">
                <label for="fOrderAdd_descriptionID">Описание</label>
                <input type="text" class="form-control" id="fOrderAdd_descriptionID" placeholder="Описание">
            </div>

            <p>Фото <input type="file"  class="btn btn-default" id="fOrderAdd_photosID" min="1" max="999" multiple="true"/></p>

            <input type="button" value="Добавить отчет" onclick="addOrder()" class="btn btn-primary"/>
            <input type="button" value="Отмена"  onclick="closeForm('order_add')" class="btn btn-dark"/>
        </form>
    </div>
{% endblock %}
