{% extends 'fish_app/base.html' %}

{% block title %} Мои сообщения {% endblock %}

{% block css_link %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}">
{% endblock %}

{% block js_link %}
    {% load static %}
    <!-- <script type=text/javascript src="{% static 'js/friends.js' %}"></script> -->
{% endblock %}

{% block document_ready_script %}
    <!-- openTab('friendsID') -->
{% endblock %}

{% block working_area %}

    

{% endblock %}
