{% extends 'fish_app/base.html' %}

{% block title %} Мои сообщения {% endblock %}

{% block css_link %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}">
{% endblock %}

{% block js_link %}
    {% load static %}
    <script type=text/javascript src="{% static 'js/messages.js' %}"></script>
{% endblock %}

{% block document_ready_script %}
    currRoomID = null;
{% endblock %}

{% block working_area %}
    <div class="message_content">
        <div class="rooms">
            {% for room in rooms %}
                {% if room.name != '' %}
                    <div class="active_caption"  id="room{{ room.id }}ID" onclick="load_mesages_from_room({{ room.id }})"> {{ room.name }} </div> <br>
                {% else %}
                    <div class="active_caption"  id="room{{ room.id }}ID" onclick="load_mesages_from_room({{ room.id }})"> Чат #{{ room.id }} </div> <br>
                {% endif %}
            {% endfor %}  <br>
        </div>
        <div id="messagesID" class="messages">
        </div>
        <div class="send_message">
            <br> <br>
            <input type="text" id="text_messageID">
            <input type="button" onclick="send_message();" value="Отправить">

        </div>

    </div>


{% endblock %}
