{% extends 'fish_app/base.html' %}

{% block title %} {{ profile.first_name }} {{ profile.last_name }} {% endblock %}

{% block css_link %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pdetail.css' %}">
{% endblock %}

{% block js_link %}
    {% load static %}
    <script type=text/javascript src="{% static 'js/pdetail.js' %}"></script>

{% endblock %}

{% block document_ready_script %}
    if (currUserID == {{ profile.user_id }} ) {
        $('#profile_updateID').show();
        $('#add_to_friendsID').hide();
        $('#send_messageID').hide();

    } else if (currUserID != 'None') {
        if (  'True' == '{{  is_friends }}'  ){
            $('#in_friendsID').show();
            $('#add_to_friendsID').hide();
        } else {
            $('#in_friendsID').hide();
            $('#add_to_friendsID').show();
        }
        $('#profile_updateID').hide();
        $('#send_messageID').show();

    } else {
        $('#profile_updateID').hide();
        $('#add_to_friendsID').hide();
        $('#send_messageID').hide();
    }

    receive_user_id = {{ profile.user_id }};
    profile_first_name = "{{ profile.first_name }}"
    console.log(receive_user_id);
    reloadProfile( {{ profile.user_id }} );

{% endblock %}

{% block working_area %}
    <div id="profileID" class="profile">
        <div id="profile_photo">
            <img class="img_profile" src="http://fishkadata.s3.amazonaws.com/media/{{ profile.photo }} "/>
        </div>
        <br>
        <!-- <div class="activeButton"  id="profile_updateID" onclick="$('#formProfileEditID').bPopup();">Редактировать профиль</div> <br> -->
        <input type="button" id="profile_updateID" value="Редактировать профиль" onclick="$('#formProfileEditID').bPopup();" class="btn btn-primary"/>
        <div class="activeButton"  id="add_to_friendsID" onclick="add_request_for_friendship();">Добавить в друзья</div> <br> <br>
        <div class="activeButton"  id="send_messageID" onclick="$('#formSendMessageID').bPopup()">Отправить сообщение</div> <br>
        <div id="in_friendsID" style="display: none;"> {{ profile.first_name }} у вас в друзьях </div>

        <br>
        <div id="name">

        </div>
        <div id="is_professional">

        </div>  <br>
        <div id="home_pond">

        </div>
        <div id="lovely_pond">

        </div>
        <div id="fishing_object">

        </div>
        <div id="tackle">

        </div>
        <div id="fishing_style">

        </div> <br>

    </div>

    <div id="formProfileEditID" class="formPopup">
        <form id="ProfileEditID">    <!--  class="form-container" -->
            {% csrf_token %}
            <div class="form-group">
                <label for="form_first_nameID">Имя:</label>
                <input type="text" class="form-control" id="form_first_nameID" placeholder="Ваше имя">
            </div>
            <div class="form-group">
                <label for="form_last_nameID">Фамилия:</label>
                <input type="text" class="form-control" id="form_last_nameID" placeholder="Ваша фамилия">
            </div>

            <div class="form-group">
                <label for="form_home_pondID">Домашний водоем:</label>
                <input type="text" class="form-control" id="form_home_pondID" placeholder="Ваш домашний водоем">
            </div>
            <div class="form-group">
                <label for="form_lovely_pondID">Любимый водоем:</label>
                <input type="text" class="form-control" id="form_lovely_pondID" placeholder="Ваш любимый водоем">
            </div>
            <div class="form-group">
                <label for="form_fishing_objectID">Любимый объект ловли:</label>
                <input type="text" class="form-control" id="form_fishing_objectID" placeholder="Ваш любимый объект ловли">
            </div>
            <div class="form-group">
                <label for="form_tackleID">Любимая снасть:</label>
                <input type="text" class="form-control" id="form_tackleID" placeholder="Ваша любимая снасть">
            </div>
            <div class="form-group">
                <label for="form_fishing_styleID">Любимый стиль ловли:</label>
                <input type="text" class="form-control" id="form_fishing_styleID" placeholder="Ваш любимый стиль ловли">
            </div>

            <p>Фото <input type="file"  class="btn btn-default" id="profile_photoID" /></p>

            <input type="button" value="Изменить профиль" onclick="updateProfile('main')" class="btn btn-primary"/>
            <input type="button" value="Отмена"  onclick="closeForm('profile_update')" class="btn btn-dark"/>
        </form>
    </div>

    <div id="formSendMessageID" class="formPopup">
        <form id="SendMessageID">    <!--  class="form-container" -->
            {% csrf_token %}
            <!-- <p><input type="text" id="text_messageID" /></p> -->
            <p><textarea rows="4" cols="50" id="text_messageID"></textarea></p>

            <input type="button" value="Отправить сообщение" onclick="send_message_to_user()" />
            <input type="button" value="Отмена"  onclick="closeForm('send_message')" />
        </form>
    </div>

{% endblock %}
