{% extends 'fish_app/base.html' %}

{% block css_link %}
    {% load static %}

{% endblock %}

{% block js_link %}


{% endblock %}

{% block title %} Регистрация {% endblock %}

{% block working_area %}
    <h1> Регистрация </h1>

    <form action="{% url 'fish_app:registration' %}" method="post" >
        {% csrf_token %}
        <label for="id_username">Имя пользователя:</label>
        <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username"> <br>
        <label for="id_password1">Пароль:</label>
        <input type="password" name="password1" autocomplete="new-password" required id="id_password1"> <br>
        <label for="id_password2">Подтверждение пароля:</label>
        <input type="password" name="password2" autocomplete="new-password" required id="id_password2"> <br>
        <input type="submit" value="Регистрация">
    </form>
{% endblock %}
