{% extends 'fish_app/base.html' %}

{% block css_link %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/workspace_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_style.css' %}">
{% endblock %}

{% block js_link %}
    {% load static %}
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=18f62a6d-77ff-4bb8-8f46-3b6d164fdf4d&lang=ru_RU"></script>
    <script type=text/javascript src="{% static 'js/libs/jquery-3.4.1.js' %}"></script>
    <script type=text/javascript src="{% static 'js/libs/bPopup.js' %}"></script>
    <script type=text/javascript src="{% static 'js/libs/lightbox.js' %}"></script>
    <script type=text/javascript src="{% static 'js/yamaps.js' %}"></script>
    <script type=text/javascript src="{% static 'js/workspace.js' %}"></script>

{% endblock %}

{% block js_script %}
    <script type="text/javascript">

        var myYandexMap = null;
        var currProfile_json = "";
        var currUserID = null;

        $(document).ready(function() {

            lightbox.option({
                  'resizeDuration': 200,
                  'wrapAround': true
                })

            currUserID = '{{ userID }}';
            console.log(currUserID);
            reloadProfile();

            myYandexMap = new YandexMap()
            myYandexMap.set_places();
        });
    </script>
{% endblock %}

{% block title %} Workspace {% endblock %}

{% block content_area %}

    <div class="content-container">

        <div class="profile">

            <div id="profile_photo">
            </div>
            <div class="active_caption"  id="profile_update" onclick="openForm(this.id)">Редактировать профиль</div>
            <br>
            <div id="name">
                Паша Вислов
            </div>
            <div id="is_professional">
                [yes/no]
            </div>  <br>
            <div id="home_pond">
                Домашний водоем
            </div>
            <div id="lovely_pond">
                Любимый водоем
            </div>
            <div id="fishing_object">
                Любимый объект ловли
            </div>
            <div id="tackle">
                Любимая снасть
            </div>
            <div id="fishing_style">
                Любимый стиль ловли
            </div> <br>
            <div id="controls">
                <a href="#">Мои места</a> <div class="active_caption" style="display: inline;" id="place_add" onclick="openForm(this.id)"> + </div> <br>
                <a href="#">Мои отчеты</a> <a href="#">+</a> <br>
                <a href="#">Мои рыбалки</a> <a href="#">+</a> <br>
                <a href="#">Мои Трофеи</a> <a href="#">+</a> <br>

                <a href="#">Мои объявления</a> <a href="#">+</a> <br>
            </div>
            <!-- <input type="button" id="openAddPlaseFormID" value="Add place" name="Add place"> -->
        </div>
        <div class="map_area">

            <div id="place_contentID"  class="placeContent">
                <div id="place_id" hidden>place_id</div>
                <div id="place_name">
                    ...Base Name...
                </div>  <br>
                <div id="place_user">
                    ...User Name...
                </div>  <br>
                <div id="place_isBame">
                    ...place_isBame...
                </div>  <br>
                <div id="coord">
                    <div id="place_lant">00.00000</div>
                    <br>
                    <div id="place_long">00.00000</div>
                </div>  <br>
                <div id="place_photos">
                    <!-- <img style='imgm' src='./content/fishing_places/333/32834799.jpg' alt='Forest'> -->
                </div>  <br>
                <div id="place_decription">
                    Decription Text
                </div>  <br>
                <div id="place_bus_accessibility">
                    bus_accessibility
                </div>  <br>
                <div id="place_car_accessibility">
                    car_accessibility
                </div>  <br>
                <div id="place_orders">
                    <div class="active_caption"  id="show_ordersID" onclick="show_orders()">Показать отчеты</div>
                </div> <br>

                <input type="button" value="close" onclick="hidePlaceContent()">
                <input type="button" id="RemovePlaceButtonID" value="Удалить место" onclick="deletePlace()">

            </div>

            <div id="orders_contentID"  class="ordersContent">
                <div id="orders_place_nameID" class="orders_place_name">
                    ...Place Name...
                </div>
                <div id="orders_listID" class="orders_list">
                    <select size="10" id="select_orders_listID">

                    </select>
                </div>
                <div id="order_infoID" class="order_info">
                    <div id="order_userID">
                        order_user
                    </div>  <br>
                    <div id="order_periodID">
                        order_period
                    </div>  <br>
                    <div id="order_descriptionID">
                        order_description
                    </div>  <br>
                    <div id="order_photosID">
                        order_photos
                    </div>  <br>
                </div>
                <div class="orders_controls">
                    <input type="button" value="close" onclick="hideOrderContent()">
                </div>
            </div>

            <div id="map" style="margin:auto; width: 100%; height: 80vh; z-index: 50;"></div>
        </div>
        <div class="filters" id="divcontentID">
            filters <br>
            <input type="checkbox" id="is_selfPlacesID" onclick='updateFilters();'>Только мои места ловли<Br>
            <input type="checkbox" id="is_BaseID" onclick='updateFilters();'>Рыболовная база<Br>
            <input type="checkbox" id="is_carAccessibilityID" onclick='updateFilters();'>Доступ на машине<Br>
            <input type="checkbox" id="is_busAccessibilityID" onclick='updateFilters();'>Доступ на общественном<Br>
            <input type="button" value="Применить"  onclick="reloadPlaces();" />
        </div>
    </div>

    <div id="formProfileEditID" class="formPopup">
        <form id="ProfileEditID">    <!--  class="form-container" -->
            {% csrf_token %}
            <!-- <p><input type="file"  id="form_photoID" name="form_photo" /></p> -->
            <p>Имя: <input type="text" id="form_first_nameID" /></p>
            <p>Фамилия: <input type="text" id="form_last_nameID" /></p>

            <p>Домашний водоем: <input type="text" id="form_home_pondID" /></p>
            <p>Любимый водоем: <input type="text" id="form_lovely_pondID" /></p>
            <p>Любимый объект ловли: <input type="text" id="form_fishing_objectID" /></p>
            <p>Любимая снасть: <input type="text" id="form_tackleID" /></p>
            <p>Любимый стиль ловли: <input type="text" id="form_fishing_styleID" /></p>
            <p>Фото <input type="file"  id="profile_photoID" /></p>

            <input type="button" value="Изменить профиль" onclick="updateProfile('main')" />
            <input type="button" value="Отмена"  onclick="closeForm('profile_update')" />
        </form>
    </div>

    <div id="formPlaceAddID" class="formPopup">
        <form id="PlaceAddID">    <!--  class="form-container" -->
            {% csrf_token %}
            <!-- <p><input type="file"  id="form_photoID" name="form_photo" /></p> -->
            <p>Название места: <input type="text" id="fPlaceAdd_nameID" /></p>
            <p>lant: <input type="text" id="fPlaceAdd_lantID" /></p>
            <p>long: <input type="text" id="fPlaceAdd_longID" /></p>
            <p>Рыболовная база: <input type="checkbox" id="fPlaceAdd_isBaseID" /></p>
            <p>Описание: <input type="text" id="fPlaceAdd_descriptionID" /></p>
            <p>Доступ на общественном: <input type="checkbox" id="fPlaceAdd_busAccessabilityID" /></p>
            <p>Доступ на машине: <input type="checkbox" id="fPlaceAdd_carAccessabilityID" /></p>
            <input type="file"  id="place_photosID" min="1" max="999" multiple="true"/>

            <input type="button" value="Добавить место" onclick="addPlace()" />
            <input type="button" value="Отмена"  onclick="closeForm('place_add')" />
        </form>
    </div>

    <div id="formOrderAddID" class="formPopup">
        <form id="OrderAddID">    <!--  class="form-container" -->
            {% csrf_token %}

            <p>Дата начала: <input type="date" id="formOrderAdd_dateBeginID"></p>
            <p>Дата окончания: <input type="date" id="formOrderAdd_dateEndID"></p>
            <p>Описание: <input type="text" id="fPlaceAdd_descriptionID" /></p>

            <input type="file"  id="order_photosID" min="1" max="999" multiple="true"/>

            <input type="button" value="Добавить место" onclick="addPlace()" />
            <input type="button" value="Отмена"  onclick="closeForm('place_add')" />
        </form>
    </div>

    <div id="messageID" class="message">
        hello
    </div>




{% endblock %}
